<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBay Price Scraper</title>
</head>
<body>
    <h1>Welcome to eBay Price Scraper</h1>
    <form action="/result" method="post">
        <label for="search_term">Enter a Product on eBay:</label>
        <input type="text" name="search_term" required value="{{ search_term }}">
        <button type="submit">Search</button>
    </form>
</body>
</html>
