<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBay Price Scraper</title>
</head>
<body>
    <h1>Welcome to eBay Price Scraper</h1>
    <form action="/" method="post">
        <label for="search_term">Enter a Product on eBay:</label>
        <input type="text" name="search_term" required value="{{ search_term }}">
        <button type="submit">Search</button>
    </form>

    {% if games %}
        <div>
            <h2>Searched Games:</h2>
            <form action="/" method="post">
                {% for game in games %}
                    <div>
                        <input type="checkbox" name="delete_games[]" value="{{ loop.index0 }}">
                        <p>{{ game.name }} - Average Price: ${{ "{:.2f}".format(game.average_price) }}</p>
                    </div>
                {% endfor %}
                <button type="submit" name="action" value="delete">Delete Selected</button>
            </form>
        </div>
    {% endif %}

    {% if total_price %}
        <p>Total Price of Collection: ${{ "{:.2f}".format(total_price) }}</p>
    {% endif %}
</body>
</html>
